<ul class="news" data-orbit data-options="timer_speed:5000; animation_speed:300; slide_number: false">
  <% @news.each do |news| %>
    <li>
      <figure>
        <%= image_tag "../data/news/#{news.url}.jpg", :alt => news.title %>
        <figcaption class="orbit-caption">
          <p class="news-title"><%= news.title %></p>
          <p class="news-summary"><%= news.summary %></p>
        </figcaption>
      </figure>
  <% end %>
</ul>
