@import "settings";

.oeco-header {
  text-transform: lowercase;

  .oeco-nav {
    ul {
      padding: 0;
      li {
        display: inline-block;

        a {
          height: #{$base-line-height};
          &:link, &:visited {
            color: inherit;
            font-weight: $font-weight-normal;
            text-decoration: none;
          }
          &.active,
          &:hover, &:focus {
            font-weight: $font-weight-normal;
            font-weight: $font-weight-bold;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media #{$small-up} {
  .oeco-header {
    img {
      display: block;
      margin: 0 auto;
    }
    .oeco-nav {
      margin-top: 3em;
      text-align: center;
      ul {
        margin: 0;
      }
      a {
        margin: 0 1em;
        font-size: rem-calc($oeco-header-font-size-small);
      }
    }
  }

  .oeco-content {
    margin-top: 4em;
  }
}

// Medium
@media #{$medium-up} {
  .oeco-header {


    img {
      margin: 0;
    }

    .oeco-nav {
      margin-top: 0;
      padding-top: #{$oeco-logo-height - $base-line-height};
      ul {
        text-align: right;

        a {
          margin-right: 0;
          margin-left: 1em;
          font-size: rem-calc($oeco-header-font-size-medium);
        }
      }
    }
  }
}
