// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "settings";

.oeco-news {
  img {
    width: 100%
  }

  .oeco-news-title {
    color: inherit;
  }
}

[data-orbit] {
  opacity: 0;
  transition: opacity .3s ease-in;
  &.ready {
    opacity: 1;
  }
}
